/*Aqui van todos los estilos del footer*/
footer {
  height: 148px;
  background: #3a3939;
  color: #fff;
}

footer img {
  padding-top: 38px;
<<<<<<< HEAD
  width: 25vh;
=======
  width: 240px;
>>>>>>> ef2144de4a4264e414d2a7aef3a6f17c19f11053
}

footer p {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 360px) {
  footer {
    height: 124px;
  }

  footer img {
<<<<<<< HEAD
    width: 91px;
    height: 16.589px;
    flex-shrink: 0;
=======
    width: 140px;
>>>>>>> ef2144de4a4264e414d2a7aef3a6f17c19f11053
  }
  footer p {
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
  }
}
