.sectionBusqueda {
  width: 100%;
  /* padding-top: 32px; comento esta linea para evitar una gran separacion entre la seccion y el navbar */
  /* padding-bottom: 32px; comento esto para evitar una gran separacion con el footer*/
  margin-top: 88px;
}

.headerSpacer {
  height: 90px;
}

.containerBusqueda {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.containerBusqueda .bgBusqueda{
  background-color: #F1CF24;
  position: absolute;
  width: 100%;
  left: 0px;
  height: 150px;
  border-bottom-left-radius: 100% 40px;
  border-bottom-right-radius: 100% 40px;
}

.titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0px;
  font-family: 'Poppins', sans-serif!important;
  color: var(--dark);
  z-index: 1;
}

.contenedorCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  row-gap: 1rem;
  margin-block: 3rem;
  justify-items: center;
  align-items: center;
}

.card {
  margin: 8px 0;
  padding: 8px;
}