.cardFavorite {
    background-color: #FFF;
    display: flex;
    flex-direction: row;
}

.deleteButton:hover {
    cursor: pointer;
}

.infoCard {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left: 40px;
}

.productName {
    color: #3a3939;
    font-size: 1rem;
    font-weight: 600;
    line-height: normal;
}

.cardFavorite i {
    width: 63px;
    height: 20px;
    font-size: 15px;
    font-weight: 400;
    padding-top: 8px;
}


.productImage {
    height: 200px;
    width: 200px;
}

@media screen and (max-width: 360px) {
    .productImage {
        width: 120px;
    }

    .cardFavorite {
        font-size: 11px;
    }

    .cardFavorite i {
        width: 63px;
        height: 20px;
        font-size: 13px;
        font-weight: 400;
    }

    .favoritePrice{
        font-size: 14px;
    }

    .infoCard h2 {
        font-size: 11px;
    }
}

