.containerFormBusqueda {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 8px;
  padding: 5px;
  z-index: 1;
}

label {
  position: relative;
}

label i {
  position: absolute;
  left: 22px;
}

.inputBrowser {
  background-color: var(--white);
  border-color: var(--white);
  padding-left: 56px;
  width: 100%;
}

.inputDate {
  background-color: var(--white);
  border-color: var(--white);
  padding-left: 56px;
  width: 100%;
}

.btnBrowser {
  padding: 8px 0;
  height: 5vh;
  background-color: #3a3939;
  color: #d9d9d9;
  border-radius: 8px;
  width: 20%;
}

/*Breakpoints*/
@media screen and (min-width: 360px) {
  .containerFormBusqueda {
    flex-direction: column;
    width: 90%;
  }
  .btnBrowser {
    width: 90%;
  }

  .inputLabelBusqueda{
    width: 90%;
  }
  
  .inputLabelCalendar{
    width: 90%;
  }
}

@media screen and (min-width: 768px) and (max-width:1024px) {
  .containerFormBusqueda {
    flex-direction: column;
    width: 80%;
  }
  .btnBrowser {
    width: 100%;
  }

  .inputLabelBusqueda{
    width: 100%;
  }
  
  .inputLabelCalendar{
    width: 100%;
  }
}

@media screen and (min-width: 1025px){
  .containerFormBusqueda {
    flex-direction: row;
    width: 70%;
  }

  .inputLabelBusqueda{
    width: 50%;
  }
  
  .inputLabelCalendar{
    width: 30%;
  }

  .btnBrowser {
    width: 30%;
  }
  
}
