.listPoliticas {
  padding-left: 0px;
  font-size: 13px;
}

.listPoliticas li {
  padding-top: 8px;
  padding-bottom: 8px;
}

.listPoliticas li h5{
    font-size: 13px;
    margin-bottom: 8px;
}

.titleDetails {
  font-size: 16px;
  font-weight: 500;
}

@media screen and (min-width: 1440px) {
  .titleDetails {
    font-size: 23px;
  }
  .listPoliticas li, .listPoliticas li h5 {
    font-size: 19px;
  }
}
