.navbar{
    background-color: rgb(197, 197, 197);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: -webkit-fill-available;
    height: 88px;
    top: 0;
    left: 0;
    padding: 0 72px;
}

.navbarButtons{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0;
    gap: 32px;
    width: 50%;
}

.navbarButtons :nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.navbarButtons :nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.leftNavbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
}

.navLink{
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 3px;
    border: none;
    color: rgb(0, 0, 0);
    background-color: rgb(180, 180, 180);
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navLink:active{
    background-color: rgb(88, 88, 88);
}

.closeSesion{
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 3px;
    border: none;
    color: rgb(0, 0, 0);
    background: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}