.cardFavorite {
  background-color: #fff;
  display: flex;
  flex-direction: row;
}

.infoCard {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-left: 20px;
  width: 60%;
}

.productName {
  color: #3a3939;
  font-size: 1rem;
  font-weight: 600;
  line-height: normal;
}

.cardFavorite i {
  width: 63px;
  height: 20px;
  font-size: 15px;
  font-weight: 400;
  padding-top: 8px;
}

.productImage {
  width: 20%;
}

.buttonsAlquiler {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  gap: 6px;
  width: 40%;
  padding: 16px
}

.buttonsAlquiler :nth-child(1) {
background-color: #3a3939;
color: white;
}

.buttonsAlquiler :nth-child(2) {
background-color: #4a6ac9;
color: white;
}

.buttonsAlquiler button {
  width: 55%;
}

@media screen and (max-width: 360px) {
  .productImage {
    width: 120px;
  }

  .cardFavorite {
    font-size: 11px;
  }

  .cardFavorite i {
    width: 63px;
    height: 20px;
    font-size: 13px;
    font-weight: 400;
  }

  .favoritePrice {
    font-size: 14px;
  }

  .infoCard h2 {
    font-size: 11px;
  }
}
