:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0 px;
  padding-left: 32px;
  padding-top: 32px;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/*Breakpoints & Grids*/
@media screen and (min-width: 360px){
  body{
      padding-left: 32px;
      padding-top: 32px;
  }
}


@media screen and (min-width: 768px){
  body{
      padding-left: 80px;
      padding-top: 80px;
  }
}

@media screen and (min-width: 1440px){
  body{
      padding-left: 72px;
      padding-top: 72px;
  }
}
