.checkboxGroup{
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
}

.checkbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkbox i{
font-size: 50px;
}

.boxEndForm{
    display: flex;
    gap: 32px;
}

.formShare{
    padding: 16px;
}