
.boxEndForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.inputLink {
    width:  80%;
}

.socialIcons {
    display: flex;
    gap: 40px;
    font-size: 40px;
}
